.subscription-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 0 20px;
}

.title {
    font-size: 32px;
    font-weight: 800;
    color: var(--color-text);
    margin-bottom: 8px;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    color: var(--color-text-secondary);
    text-align: center;
    padding: 0 20px;
}